<% include ../partials/header %>


<section>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a class="btn" href="/campgrounds/"><i class="fas fa-arrow-circle-left fa-3x"></i></a>
			</div>
			<div class="col-md-10">
				<div class="card">
					<img class="img-fluid" src="<%= camp.image %>" alt="">
					<div class="card-body">
						<a class="lead" target="_blank" href="<%= camp.url%>"><%= camp.name%></a>
						<p>
							<em>Submitted by: <%= camp.author.username %></em>
						</p>
						<p>
							<%= camp.desc %>
						</p>
						<p>
							$<%= camp.price %> a night
						</p>
						<% if (currentUser && camp.author.id.equals(currentUser._id)) { %>
							<a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-outline-success btn-sm">Edit</a>
							<form class="delete-form" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
								<button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
							</form>
						<% } %>
					</div>
				</div>
				<% include ../comments/new %>
			</div>
		</div>
	</div>
</section>

<% include ../partials/footer %>
